* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: aqua;
  height: 100vh;
  width: 100vw;
  padding: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#board {
  background-color: darkblue;
  width: 80%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.enemy {
  background-color: red;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  transform: rotate(180deg);
}

.player {
  background-color: white;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}

.card {
  padding: 10px;
  margin: 30px 10px 30px;
  background-color: white;
  border: black solid 10px;
  width: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* size is 480 x 750 */
}

.player .card:hover {
  transform: scale(1.2);
  border: yellow solid 20px;
}

.versus {
  font-size: 75px;
  color: white;
  background-color: black;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#enemy-rock {
  background-image: url(./Assets/enemyRock.jpg);
}

#enemy-paper {
  background-image: url(./Assets/enemyPaper.jpg);
}

#enemy-scissors {
  background-image: url(./Assets/enemyScissors.jpg);
}

#player-rock {
  background-image: url(./Assets/playerRock.jpg);
}

#player-paper {
  background-image: url(./Assets/playerPaper.jpg);
}

#player-scissors {
  background-image: url(./Assets/playerScissors.jpg);
}

/* side bar */

#side {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#enemy-status {
  background-color: maroon;
  padding: 20px;
  height: 50%;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

#player-status {
  background-color: cyan;
  padding: 20px;
  height: 50%;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

#enemy-portrait {
  background-image: url(./Assets/akuma.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#enemy-health {
  display: flex;
  background-color: black;
  height: 30%;
  align-items: center;
  justify-content: left;
  padding-left: 50px;
  position: relative;
}

#enemy-health-bar {
  background-color: red;
  height: 80%;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 75px;
  font-weight: 700;
}

#enemy-health-bar p {
  z-index: 20;
}

#enemy-floating-health {
  position: absolute;
  background-color: lightgreen;
  width: 400px;
  height: 80%;
}

#player-portrait {
  background-image: url(./Assets/ryuu.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#player-health {
  display: flex;
  background-color: black;
  height: 30%;
  align-items: center;
  justify-content: left;
  padding-left: 50px;
  position: relative;
}

#player-health-bar {
  background-color: red;
  height: 80%;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 75px;
  font-weight: 700;
}

#player-floating-health {
  position: absolute;
  background-color: lightgreen;
  width: 400px;
  height: 80%;
}

#player-health-bar p {
  z-index: 20;
}

#enemy-hit {
  background-color: red;
  height: 40%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  border: yellow solid 10px;
}

#player-hit {
  background-color: red;
  height: 40%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  border: yellow solid 10px;
}

#player-shield {
  position: absolute;
  height: 60%;
  width: 60%;
  background-image: url(./Assets/shield.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  visibility: hidden;
}

#enemy-shield {
  position: absolute;
  height: 60%;
  width: 60%;
  background-image: url(./Assets/shield.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  visibility: hidden;
}

/* keyframe for hit effect */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
